<div>
    <div class="flex flex-col space-y-16">
        <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-32 items-center">
            <img class="w-[600px] h-[400px] object-cover rounded-lg" src="../../assets/sucursales/SydneyOperaHouse.jpg" alt="">
            <div class="flex flex-col space-y-16">
                <h1 class="text-4xl font-semibold">Sydney</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste iusto deleniti quas non tempora doloribus, impedit asperiores! Accusantium atque dolore a nihil eveniet voluptates aliquam, quis iste rem cumque doloribus quas modi facilis corrupti, esse ipsa? Provident, harum itaque.</p>
            </div>
        </div>
        <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-32 items-center">
            <div class="hidden md:block flex flex-col space-y-16">
                <h1 class="text-4xl font-semibold">París</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste iusto deleniti quas non tempora doloribus, impedit asperiores! Accusantium atque dolore a nihil eveniet voluptates aliquam, quis iste rem cumque doloribus quas modi facilis corrupti, esse ipsa? Provident, harum itaque.</p>
            </div>
            <img class="w-[700px] h-[400px] object-cover rounded-lg" src="../../assets/sucursales/eiffel-tower-in-paris-151-medium.jpg" alt="">
            <div class="md:hidden  flex flex-col space-y-16">
                <h1 class="text-4xl font-semibold">París</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste iusto deleniti quas non tempora doloribus, impedit asperiores! Accusantium atque dolore a nihil eveniet voluptates aliquam, quis iste rem cumque doloribus quas modi facilis corrupti, esse ipsa? Provident, harum itaque.</p>
            </div>
        </div>
        <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-32 items-center">
            <img class="w-[700px] h-[400px] object-cover rounded-lg" src="../../assets/sucursales/b65225f3-0135-4c38-bee6-ddcb1e92f7eb.jpg" alt="">
            <div class="flex flex-col space-y-16">
                <h1 class="text-4xl font-semibold">Ámsterdam</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste iusto deleniti quas non tempora doloribus, impedit asperiores! Accusantium atque dolore a nihil eveniet voluptates aliquam, quis iste rem cumque doloribus quas modi facilis corrupti, esse ipsa? Provident, harum itaque.</p>
            </div>
        </div>
    </div>
</div>
