<div class="my-16 md:mx-44">
    <div class="mx-5 flex items-center justify-between">
        <img class="md:w-16 w-10 pointer-events-none" src="../../assets/navbar/fitness-gym-logo-9191CD4CF2-seeklogo.com.png" alt="">
        <div class="hidden md:block flex space-x-16 text-2xl font-medium">
            <a href="#sucursales" class="hover:text-lime-500 cursor-pointer hover:underline">Sucursales</a>
            <a href="#planes" class="hover:text-lime-500 cursor-pointer hover:underline">Planes</a>
        </div>
        <div class="hidden md:flex space-x-5">
            <img class="w-10 hover:bg-lime-400 rounded-full p-2 object-contain cursor-pointer" src="../../assets/navbar/fb_icon_325x325.png" alt="">
            <img class="w-10 hover:bg-lime-400 rounded-full p-2 object-contain cursor-pointer" src="../../assets/navbar/Instagram-Icon.png" alt="">
            <img class="w-10 hover:bg-lime-400 rounded-full p-2 object-contain cursor-pointer" src="../../assets/navbar/Twitter-logo.svg.png" alt="">
        </div>
    </div>
    <div class="mx-5">
        <div class="mt-10">
            <app-head></app-head>
        </div>
        <div id="planes" class="md:mx-52 mt-16">
           <div class="flex md:flex-row space-y-10 flex-col justify-center md:space-x-10 md:items-baseline">
                <div class="shadow-2xl py-5 px-10">
                    <div class="flex flex-col space-y-5 md:space-y-16">
                        <h2 class="text-2xl  font-bold text-center">Plan novato</h2>
                        <div class="max-w-xl text-left">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae similique fugit possimus corrupti, esse nihil.
                        </div>
                    </div>
                    <div class="bg-lime-400 cursor-pointer hover:bg-lime-500 text-center p-2 mt-20 md:mt-40 text-white font-medium text-lg">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="shadow-2xl py-10 px-10">
                    <div class="flex flex-col space-y-5 md:space-y-10">
                        <h2 class="text-3xl font-bold text-center">Plan premium</h2>
                        <div class="max-w-2xl text-left">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae similique fugit possimus corrupti, esse nihil.
                        </div>
                    </div>
                    <div class="bg-red-500 hover:bg-red-600 cursor-pointer hover:bg-red-60 mt-20 text-center p-2 md:mt-40 text-white font-medium text-lg">
                        <a>Ver mas</a>
                    </div>
                </div>
                <div class="shadow-2xl py-5 px-10">
                    <div class="flex flex-col space-y-5 md:space-y-16">
                        <h2 class="text-2xl  font-bold text-center">Plan experiencia</h2>
                        <div class="max-w-xl text-left">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae similique fugit possimus corrupti, esse nihil.
                        </div>
                    </div>
                    <div class="bg-lime-400 cursor-pointer hover:bg-lime-500 text-center p-2 mt-20 md:mt-40 text-white font-medium text-lg">
                        <a>Ver mas</a>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="w-full mt-16 h border-[1px] bg-slate-300"></div>
    <div id="sucursales" class="mt-16 mx-5">
        <app-body></app-body>
    </div>
    <div class="w-full mt-16 h border-[1px] bg-slate-300"></div>
    <div class="mx-5 mt-10 text-slate-500 text-xl flex justify-between">
        <div>
            <p>@developed by josho</p>
        </div>
        <div>
            <p>2023</p>
        </div>
    </div>
</div>
