

.cont-menu{
    position: relative;
    z-index: 1;
    background-color: white;
}

.menu{
    position: absolute;
    left: 0;
    transform: translateX(-80%);
    z-index: -1;
    transition: all 0.5s;
}

.mover-contenedor{
    transform: translateX(30%);
}
.index{
    z-index: 1;
}